<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Orbit Future Academy</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			
			<!-- Logo -->
			<div class="navbar-header">
				<img src={{ url_for('static', filename='/images/orbit_logo.jpg') }} alt="Orbit Logo" 
				width="50" height="50" align="left">
				<a class="navbar-brand" href="https://orbitfutureacademy.id/">&#160; Orbit Future Academy</a>
			</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
					<li><a href="#anggotaKelompok">ANGGOTA KELOMPOK</a></li>
					<li><a href="https://www.orbitguru.org/login/signup.php?"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="https://www.orbitguru.org/login/index.php"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<!-- Deskripsi Aplikasi -->
				<h2>LRC</h2>
				<h4>Logistic Regression Classifier</h4>
				<h4>Klasifikasi Dataset Iris Dengan Model Logistic Regression</h4><br>
				<p style="text-align: justify;text-justify: inter-word;">
					Pada studi kasus berfokus pada teknik klasifikasi terhadap spesies dari dataset Iris menggunakan
					Logistic Regression. Logistic Regression merupakan sebuah model yang digunakan untuk melakukan prediksi 
					apakah sesuatu bernilai benar atau salah (0 atau 1). Logistic regression akan mengukur hubungan antara 
					variabel target (yang ingin diprediksi) dan variabel input (fitur yang digunakan) dengan fungsi logistik.
				</p>				
				<p style="text-align: justify;text-justify: inter-word;">
					Aplikasi ini dibuat untuk menentukan spesies dari bunga iris berdasarkan pengukuran panjang serta lebar 
					dari <i>sepal</i> dan <i>petal</i> bunga. "Iris Setosa", "Iris Versicolor", dan "Iris Virginica" 
					adalah ketiga species bunga iris yang dapat diprediksi melalui aplikasi ini.
					Pengguna hanya cukup memberikan 4 nilai pengukuran untuk dapat mengetahui spesies dari bunga iris tersebut.
					Keempat nilai pengukuran tersebut adalah panjang <i>petal</i>, lebar <i>petal</i>, panjang <i>sepal</i>,
					dan lebar <i>sepal</i>.
				</p>
				<br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#ffffff;z-index: 0;">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="#aplikasi" style="background-color:#28ace5">Mulai</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="col-sm-6">
				<br>
				<br>
				<!-- Gambar Deskripsi Aplikasi -->
				<img src={{ url_for('static', filename='/images/app-display.JPG') }} width="500" ></img>
			</div>
		</div>
		<br>
	</div>
	

	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				</br>
				<!-- Input Nilai Pengukuran dari Pengguna -->
				<h3 style="margin-left: 50px;">Nilai Pengukuran </h3>
				<form>
					<div class="form-group" style="margin-left: 50px;">
						<!-- Input Slider untuk Nilai Pengukuran Bunga Iris -->
						<label for="range_sepal_length">Sepal Length (cm) </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_sepal_length">5.0<!-- Default value --></span>
						<input type="range" min="4.3" max="7.9" step="0.05" value="5.0" class="slider" id="range_sepal_length" 
						onInput="$('#rangeVal_sepal_length').html($(this).val())">
						</br>
						<label for="range_sepal_width">Sepal Width (cm) </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_sepal_width">3.0<!-- Default value --></span>
						<input type="range" min="2.0" max="4.4" step="0.05" value="3.0" class="slider" id="range_sepal_width" 
						onInput="$('#rangeVal_sepal_width').html($(this).val())">
						</br>
						<label for="range_petal_length">Petal Length (cm) </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_petal_length">3.0<!-- Default value --></span>
						<input type="range" min="1.0" max="6.9" step="0.05" value="3.5" class="slider" id="range_petal_length" 
						onInput="$('#rangeVal_petal_length').html($(this).val())">
						</br>
						<label for="range_petal_width">Petal Width (cm) </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_petal_width">3.0<!-- Default value --></span>
						<input type="range" min="0.1" max="2.5" step="0.05" value="1.0" class="slider" id="range_petal_width" 
						onInput="$('#rangeVal_petal_width').html($(this).val())">
						</br>
						<!-- Tombol Prediksi -->
						<button type="submit" id="prediksi_submit" class="btn btn-default btn-lg">Prediksi</button>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<br>
				<!-- Bagian Halaman untuk Hasil Prediksi -->
				<div id="hasil_prediksi" align="center">
						<!-- Hasil Prediksi akan ditampilkan di sini-->
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>

	<!-- Bagian Halaman (Anggota Kelompok) -->
	<div id="anggotaKelompok" class="container-fluid text-center">
		<br>
		<h2>ANGGOTA KELOMPOK EWAKO 3</h2>
		<h4>Tim Deployment dan Tim Data Science</h4>
		<br>
		<div class="row slideanim">
			<div class="col-sm-4">
				<span>
					<img src="static\images\cowo 1.jpg" width="80px" height="80px" style="border-radius: 20%;">
				</span>
				<h4>ACEP SAEPUL ZAMIL</h4>
				<p>Universitas Pendidikan Indonesia</p>
			</div>
			<div class="col-sm-4">
				<span>
					<img src="static\images\andara.jpeg" width="80px" height="80px" style="border-radius: 20%;">
				</span>
				<h4>ANDARA NAJLA JILAN</h4>
				<p>Universitas Islam Bandung</p>
			</div>
			<div class="col-sm-4">
				<span>
					<img src="static\images\khansa.png" width="80px" height="80px" style="border-radius: 20%;">
				</span>
				<h4>KHANSA FAIRUZ ZAKIYAH</h4>
				<p>STIMIK Bandung</p>
			</div>
		</div>
	    <br>
	    <div class="row slideanim">
			<div class="col-sm-6">
				<span>
					<img src="static\images\andre.jpeg" width="80px" height="80px" style="border-radius: 20%;">
				</span>
				<h4>M. ANDRE SETIAWAN</h4>
				<p>Universitas Pendidikan Indonesia</p>
			</div>
			<div class="col-sm-6">
				<span>
					<img src="static\images\puja.jpeg" width="80px" height="80px" style="border-radius: 20%;">
				</span>
				<h4>PUJANINGSIH</h4>
				<p>STIMIK Bandung</p>
			</div>
	    </div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid text-center">
		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Orbit Future Academy <br> <a href="https://orbitfutureacademy.id/">orbitfutureacademy.id</a></p>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>

</body>
</html>
